.card{
    height:300px;
    width: 200px;
    background: linear-gradient(45deg, pink, red);
    border-radius: 20px;
    box-shadow:0 0 10px blue;
    display: inline-block;
    margin: 20px;
}
.card_body p{
    padding:5px;
    text-align: center;
}

